<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>サービス変更　確認画面</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
	<!-- ナビゲーション -->
	<nav class="navbar navbar-expand-md border-bottom">
		<h1 class="text-primary">変更登録内容確認</h1>
		<div class=" ml-auto  form-inline">
			<span class="navbar-text px-3" th:text="'ようこそ　'+${user.getUsername} + '様'"></span>
			<form role="form" id="logout" th:action="@{/logout}" method="post">
				<button class="btn btn-outline-dark bg-light">ログアウト</button>
			</form>
		</div>
	</nav>

	<!-- ナビゲーション ここまで -->

	<!-- コンテナ -->
	<div class="container">
		<div class="row my-2 justify-content-center">
			<div class="col-sm-6 alert alert-info">
				以下の内容に変更します
			</div>
		</div>
		<p th:text="${user.getUserId()}"></p>
		<!-- 入力フォーム -->
		<div class="row my-2 justify-content-center">
			<div class="col-sm-6">
				<form th:action="@{/editConfirm}" method="post" th:object="${subscData}">
					
<!--					ユーザIDをSubscDataに入れる-->
						<input type="hidden" name="userId" th:value="${user.getUserId()}">
						
<!--						idをinputDataに入れる-->
						<input type="hidden" name="id" th:value="${inputData.getId()}">
					<div class="mt-2 row h5">
						<p>サービス名：　　　</p>
						<p th:text="${inputData.getServName}"></p>
						<input type="hidden" name="servName" th:value="${inputData.getServName}">
					</div>

					<div class="pt-5 h5 row">
						<label for="pay">料金体系：　　　</label>
						<p>年額　</p>
						<p th:text="${inputData.getFee +'　円'}"></p>
						<input type="hidden" name="fee" th:value="${inputData.getFee}">
						<input type="hidden" name="pay" th:value="${inputData.getPay}">
					</div>

					<div class="pt-5 h5 row">
						<label>支払日：　　　　</label>

						<div th:if="${inputData.getMonth} == 0">
							<p>毎月　</p>
						</div>
						
						<div th:unless="${inputData.getMonth} == 0" class="row mr-1">
							<p>毎年　</p>
							<p th:text="${inputData.getMonth}"></p>
							<p>　月　</p>
						</div>
						
						<p th:text="${inputData.getDay}"></p>
						<input type="hidden" name="month" th:value="${inputData.getMonth}">
						<input type="hidden" name="day" th:value="${inputData.getDay}">
						<p>　日　</p>

					</div>
					<p class="mt-5 h5 text-success font-weight-bold">　　以上の内容に変更します。よろしいですか？</p>
					<input type="submit" value="この内容に変更" class="mt-2 btn btn-lg btn-primary">
					<a href="/index" class="mt-2 ml-5  btn btn-sm btn-outline-primary">キャンセル（トップページへ）</a>
				</form>
			</div>
		</div>
		<!-- 入力フォーム ここまで -->

	</div>
	<!-- コンテナ ここまで -->


</body>

</html>>