<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	<title>作業一覧</title>

	<style>
		/* ボタンを横並びにする */
		form {
			display: inline-block;
		}

		/* 打消し線を入れる */
		tr.del>td {
			text-decoration: line-through;
		}

		/* ボタンのセルは打消し線を入れない */
		tr.del>td.button {
			text-decoration: none;
		}
	</style>
</head>

<body>
	<!-- ナビゲーション -->
	<nav class="navbar navbar-expand-md border-bottom">
		<h1 class="text-primary"> 利用サービス一覧</h1>
		<div class="ml-auto form-inline">
			<span class="navbar-text px-3" th:text="'ようこそ　'+${user.getUsername() + '様'}"></span>
			<form role="form" id="logout" th:action="@{/logout}" method="post">
				<button class="btn btn-outline-dark bg-light">ログアウト</button>
			</form>
		</div>
	</nav>
	<!-- ナビゲーション ここまで -->



	<!-- コンテナ -->
	<div class="container">
	<p th:text="${user."


		<form class="form-inline py-2 my-lg-0" th:action="@{/listSearch}" method="get">
			<a class="btn btn-outline-dark bg-light py-2" href="/entry">新規サービス登録</a>
			<div class="mx-auto">
				<p>今日は、<span th:text="${#dates.format(#dates.createNow(), 'yyyy年M月d日 E曜日')}"></span>です。</p>
			</div>
			
			<div class="ml-auto">
				<input class="form-control mx-auto" type="search" aria-label="Search" name="searchWord"
					th:value="${searchWord}">
				<button class="btn  btn-outline-dark bg-light my-2 my-sm-0 text-right" type="submit">検索</button>
			</div>
		</form>


		<table class="table table-striped table-hover table-sm my-2">
			<thead>
				<tr>
					<th scope="col">項目名</th>
					<th scope="col">担当者</th>
					<th scope="col">登録日</th>
					<th scope="col">期限日</th>
					<th scope="col">完了日</th>
					<th scope="col">操作</th>
				</tr>
			</thead>

			<tbody>
				<!--               	th:classappendを使って条件分け　3項演算子-->
				<tr th:each="item : ${item}" th:classappend="|${((item.finishedDate == null && item.expireDate < #dates.createNow()) ? 'text-danger' : ' ')} 
                     ${item.finishedDate != null ? 'del' :' ' }|">

					<td th:text="${item.itemName}" class="align-middle">
					</td>

					<!--名前-->
					<td th:text="${item.fullName}" class="align-middle">
					</td>

					<!--登録日-->
					<td th:text="${#dates.format(item.registrationDate,'yyyy-MM-dd')}" class="align-middle"></td>

					<!--期限日-->
					<td th:text="${#dates.format(item.expireDate,'yyyy-MM-dd')}" class="align-middle"></td>

					<!--完了日-->
					<td th:text="${#dates.format(item.finishedDate, 'yyyy-MM-dd')}" th:if="${item.finishedDate != null}"
						class="align-middle"></td>
					<td class="align-middle" th:text="未" th:if="${item.finishedDate == null}"></td>

					<td class="align-middle button">
						<form th:action="@{/completed}" method="post" class="my-sm-1">
							<button class="btn btn-primary my-0" type="submit" name="completed">完了</button>
							<input type="hidden" name="itemId" th:value="${item.id}">
						</form>

						<a th:href="@{'/edit/'+${item.id}}" class="btn btn-success my-0">修正</a>

						<a th:href="@{'/delete/'+${item.id}}" class="btn btn-danger my-0">削除</a>
					</td>

				</tr>

			</tbody>

		</table>

		<!-- 検索のとき、戻るボタンを表示する -->
		<th:block th:if="${searchWord !=null}">
			<a class="btn btn-primary my-0" type="button" href="/todoList">戻る </a>

		</th:block>

	</div>
	<!-- コンテナ ここまで -->

	<!--	 必要なJavascriptを読み込む -->
	<!--	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"-->
	<!--		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
	<!--		crossorigin="anonymous"></script>-->
	<!--	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"-->
	<!--		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"-->
	<!--		crossorigin="anonymous"></script>-->
</body>

</html>