<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	<title>作業一覧</title>

	<style>
		/* ボタンを横並びにする */
		form {
			display: inline-block;
		}

		/* 打消し線を入れる */
		tr.del>td {
			text-decoration: line-through;
		}

		/* ボタンのセルは打消し線を入れない */
		tr.del>td.button {
			text-decoration: none;
		}
	</style>
</head>

<body>
	<!-- ナビゲーション -->
	<nav class="navbar navbar-expand-md border-bottom">
		<h1 class="text-primary"> 利用サービス一覧</h1>
		<div class="ml-auto form-inline">
			<span class="navbar-text px-3" th:text="'ようこそ　'+${user.getUsername() + '様'}"></span>
			<form role="form" id="logout" th:action="@{/logout}" method="post">
				<button class="btn btn-outline-dark bg-light">ログアウト</button>
			</form>
		</div>
	</nav>
	<!-- ナビゲーション ここまで -->



	<!-- コンテナ -->
	<div class="container">



		<form class="form-inline py-2 my-lg-0" th:action="@{/listSearch}" method="get">
			<a class="btn btn-outline-dark bg-primary py-2" href="/addService">新規サービス登録</a>
			<div class="mx-auto">
				<p>今日は、<span th:text="${#dates.format(#dates.createNow(), 'yyyy年M月d日 E曜日')}"></span>です。</p>
			</div>
		</form>


		<table class="table table-striped table-hover table-sm my-2">
			<thead>
				<tr>
					<th scope="col">サービス名</th>
					<th scope="col"> 月額 </th>
					<th scope="col"> 年額 </th>
					<th scope="col"> 引落日 </th>
					<th scope="col">次の引落日まで</th>
					<th scope="col">操作</th>
				</tr>
			</thead>


			<p th:text="${user.getUserId()}"></p>

			<tbody>
				<tr th:each="item : ${item}">

					<!--サービス名-->
					<td th:text="${item.servName}" class="align-middle">
					</td>

					<!--月額-->
					<td th:if="${item.pay==1}" th:classappend="${item.pay==1} ? 'align-middle' : ''"><div th:text="${item.fee}+'円'"></div></td>
					<td block th:if="${item.pay==2}"></td>
					
					<!--年額-->
					<td th:if="${item.pay==2}" th:classappend="${item.pay==2} ? 'align-middle' : ''"><div th:text="${item.fee}+'円'"></div></td>
					<td block th:if="${item.pay==1}"></td>


					<!--引落日-->
<!--					<td th:text="${item.month}+'月'+${item.day}+'日'" class="align-middle"></td>-->
					
					<td block th:if="${item.month==0}" class="align-middle">
						<div th:text="'毎月'+${item.day}+'日'"></div>
					</td>
					
					<td block th:if="${item.month!=0}" class="align-middle">
						<div>毎年<br></div>
						<div th:text="${item.month}+'月'+${item.day}+'日'"></div>
					</td>
					

					<!--次回までの日数-->
					<td th:text="${item.untilDays }+'日'" class="align-middle"></td>

					<td class="align-middle button">
						<!--						<form th:action="@{/completed}" method="post" class="my-sm-1">-->
						<!--							<button class="btn btn-primary my-0" type="submit" name="completed">完了</button>-->
						<!--							<input type="hidden" name="itemId" th:value="${item.id}">-->
						<!--						</form>-->

						<a th:href="@{'/edit/'+${item.id}}" class="btn btn-success my-0">修正</a>

						<a th:href="@{'/delete/'+${item.id}}" class="btn btn-danger my-0">削除</a>
					</td>

				</tr>

			</tbody>

		</table>

		<!-- 検索のとき、戻るボタンを表示する -->
		<th:block th:if="${searchWord !=null}">
			<a class="btn btn-primary my-0" type="button" href="/todoList">戻る </a>

		</th:block>

	</div>
	<!-- コンテナ ここまで -->

	<!--	 必要なJavascriptを読み込む -->
	<!--	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"-->
	<!--		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
	<!--		crossorigin="anonymous"></script>-->
	<!--	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"-->
	<!--		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"-->
	<!--		crossorigin="anonymous"></script>-->
</body>

</html>