<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	<title >Login</title>
</head>

<body>
<!--	<nav class="navbar navbar-expand-md border-bottom">-->
<!--		<span class="navbar-brand" ></span>-->
<!--	</nav>-->
	<h1 class="text-success text-center">サブスクリプション管理アプリ</h1>
	<h1 class="text-primary text-center border-top">ログイン</h1>

	<div class="container text-center">
		<div class="col-sm-3"></div>

		<form id="login-form" method="post" th:action="@{/login}" class="form-login w-25  mx-auto mt-5">

			<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}!=null"
			 th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger">

			<div class="form-group">
				<label for="user">ユーザ名</label>
				<input type="text" name="userName" class="form-control"  />
			</div>

			<div class="form-group">
				<label for="password">パスワード</label>
				<input type="text" id="password" name="password" class="form-control" />
				
			</div>
			<input type="submit" class="btn btn-primary" value="ログイン"/>
		</form>
		<a th:href="@{/signup}">新規ユーザ登録</a>

	</div>
</body>

</html>