<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	<title>新規ユーザ登録</title>
</head>

<body>
	<div class="container">
  <h2>ユーザ登録</h2>
  <form>
    <div class="form-group">
      <label for="username">ユーザ名:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">パスワード:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-primary">はい</button>
      <button type="reset" class="btn btn-secondary">やり直し</button>
    </div>
  </form>
</div>

	
	<form method="post" th:action="@{/logout}">
		<button class="btn btn-link pull-right navbar-brand" type="submit">ログアウト</button>
	</form>
</body>

</html>