<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/user/signup.css}">
	<!--JS読み込み-->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<script th:src="@{/js/user/signup.js}" defer></script>
	<style>
		p,
		small {
			margin: 0;
			/* 行間をゼロに設定 */
		}
	</style>
	<title>新規ユーザ登録</title>
</head>

<body>
	<h1 class="text-success text-center">サブスクリプション管理アプリ</h1>
	<h1 class="text-primary text-center border-top">新規登録</h1>

	<div class="container text-center">
		<div class="col-sm-3"></div>

		<form id="signup-form" method="post" action="/signup" class="form-signup  mx-auto mt-5" style="width: 35%"
			th:object="${signupForm}">
			<div class="container text-center">
				<div class="col-sm-3"></div>

				<div class="form-group">
					<label for="userName">ユーザ名</label>
					<input type="text" class="form-control" th:field="*{userName}" th:errorclass="is-invalid" />
					<div class="invalid-feedback" th:errors="*{userName}"></div>
					
					<div th:if="${signupError}">
						<div class="text-danger">
							<p th:text="${signupError}"></p>
							<small>他のユーザ名でお試しください</small>
						</div>
					</div>
					
				</div>

				<div class="form-group">
					<label for="password">パスワード</label>
					<input type="password" th:field="*{password}" class="form-control" placeholder="4～16文字の半角英数字で入力してください"
						th:errorclass="is-invalid" />

					<div class="invalid-feedback" th:errors="*{password}"></div>
				</div>

				<div class="btn-group">

					<a class="btn bg-warning text-white mr-5" href="signup">クリア</a>
					<input type="submit" class="btn btn-primary" value="登録" />
				</div>
			</div>
	</div>
	</form>



	<form class="text-center mt-5 " method="post" th:action="@{/logout}">
		<button class="btn btn-link btn-outline-danger" type="submit">キャンセル</button>
	</form>
</body>

</html>